<div id="stuff"></div>
<script>
  var do_body = function() {
    var xhttp;
    // body
    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("stuff").insertAdjacentHTML('afterend', this.responseText);
        console.log('did body');
      }
    };
    xhttp.open("GET", "https://www.sonosbackend.com/book/body", true);
    xhttp.send();
  };

  var do_scripts = function() {
    // scripts
    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementsByTagName("body")[0].insertAdjacentHTML('beforeend', this.responseText);
        console.log('did scripts');
        do_body();
      }
    };
    xhttp.open("GET", "https://www.sonosbackend.com/book/scripts", true);
    xhttp.send();
  };

  function do_head() {
    // head
    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementsByTagName("head")[0].insertAdjacentHTML('beforeend', this.responseText);
        console.log('did head');
        do_scripts();
      }
    };
    xhttp.open("GET", "https://www.sonosbackend.com/book/head", true);
    xhttp.send();
  };

  do_head();

</script>
